body{
    color: rgb(54, 66, 80);
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}

header :hover{
    color: rgb(95, 179, 219);
}

header{
    color: rgb(155, 162, 176);
    font-size: 24px;
    width: 100%
}

header span{
    padding: 10px;
    margin: 25px 0px 15px 40px;
}


.user_info{
    justify-content: right;
    display: inline;
}

header img{
    border-radius: 45px;
}

header i{
    margin: 0px 30px 0px 20px;
}

th{
    background-color: rgb(249, 251, 252);
    text-align: left;
    padding: 10px;
    color: rgb(155, 162, 176);
}

td{
    padding: 5px;
    font-size: .8em;
}

.property_alignment, .property_alignment div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.property_alignment img{
    height: 100%;
}

.flexing_width{
    width: 75%;
}


.subtext{
    color: rgb(155, 162, 176);
    font-size: 12px;
}

td img{
    border-radius: 45px;
}

tr {
    border-bottom: solid 1px rgb(236, 238, 242)
}

#no_border{
    border-bottom: none;
}

table {
    border-collapse: collapse;
}

.table_style{
    font-size: 24px;

}

#table_header_color{
    color: black;
}
