body{
    color: rgb(54, 66, 80);
    margin-top: 20px;
}

header span{
    padding: 10px;
    margin: 25px 0px 15px 40px;
}

header img{
    border-radius: 45px;
}

th{
    background-color: rgb(249, 251, 252);
    text-align: left;
    padding: 10px;
    color: rgb(155, 162, 176);
}

td{
    padding: 5px;
    font-size: .8em;
}

td img{
    border-radius: 45px;
}

tr {
    border-bottom: solid 1px rgb(236, 238, 242)
}

#no_border{
    border-bottom: none;
}

table {
    border-collapse: collapse;
}

.table_style{
    font-size: 24px;

}

#table_header_color{
    color: black;
}

header :hover{
    color: rgb(95, 179, 219);
}

header{
    color: rgb(155, 162, 176);
    font-size: 24px;
}